.part-1 .img1{top: 2rem;}
header .banner{margin-top: 15rem;}
.part-1 h2{font-size: 4rem;}

.part-2{background:#fff; margin: 6rem 0 0; padding: 2rem 0;}
.part-2 h1{font-size: 2.5rem; color:#025048;}

.part-3{background: #f1f4f1;}
.part-3 h1{margin: 1.5rem 0;}
.part-3 .about{margin: 1.5rem 0;}

.part-4{margin: 1rem 0; padding: 2rem 0;}
.part-4 h2{margin: 1.2rem 0; font-size: 2rem;}
.part-4 p{text-align: justify;}

.part-5{padding: 2rem 0; background: #025048; color: #f1f4f1;}
.part-5 h1{font-size: 3rem;}
.part-5 .btn{margin: 1.4rem 0;}