header h2{ font-size: 4.5rem; margin-bottom: 1rem;}
.part-1{background: #025048;}
header .banner{margin-top: 10rem;}
header .about{margin: 1rem 0; color: #fff;}
header .about2{margin: 1rem 0;}
header .btn{margin-top: 3rem;}
header .img1{  position: absolute; top: 5rem; right: 0;}
header .img2{position: absolute; top:16rem; left: 0;}
