.part-2{margin-top: 11rem; margin-bottom: 6rem;}
.part-2 .about{color:#025048; margin: 1rem 0;}
.part-2 h1{font-size: 3rem; margin: 1rem 0;}
.part-2 .btn{color: #025048; border-color: #025048; margin: 1rem 0;}
.img4{margin: 8rem 0 1rem;}

.part-3{background: #f1f4f1; padding: 10rem 0; margin:10rem 0;}
.part-3 .about{margin: 1rem 0;}
.over-img{position: absolute; bottom: 2rem; left: 1.7rem; background: #f1f4f1; padding: 2rem 1rem; width: 91%;}
.over-img h3{font-size: 1.5rem;}
.position-img1{height: 100%; position: relative;}
.img5, .img6{position: absolute;}
.img6{bottom: -18.5rem;}
.img5{ top: -18.5rem;}

.part-4{padding:4rem 0;}
.part-4 h1{margin: 1.3rem 0;}

.part-5{ background: #025048; display: grid; place-items: center; padding: 3rem 1rem;}
.over{width: 90%; padding: 2rem 1rem; margin: auto; background: #f1f4f1; text-align: center;}
.part-5 h1{font-size:2.5rem; margin: 1rem 0;}
.part-5 h4{ font-size: 1.5rem;}
.part-5 .btn{border-color:#025048; color: #025048; margin: 2rem 0;}

.part-6{padding: 2rem 0;}
.part-6 h1{margin: 1rem 0;}

.part-7{padding: 3rem 0; background: #f1f4f1;}
.part-7 h1{margin: 1rem 0;}
.review{background: #fff; padding: 1rem;}
.review .about{margin: 1rem 0;}
.review img{float: left; margin: 0 1rem;}

.part-8{background: #025048;}
.jour{padding: 2rem 0; color: #fff;}
.jour .btn{margin: 1rem 0;}