header{background: #025048; color: #fff; padding: 3rem 0;}
header nav li a{margin: 5px 10px; color: #fff;}
.navBar{border: 2px solid #f1f4f1; display: inline-block;width: 4rem; height: 2.5rem; margin: 0 1rem; border-radius:5px; display: none;}
.navBar span{background: #f1f4f1; width: 80%; height: 2px; margin: 5px; display: block;}
nav a.active{color: #f1f4f1; text-shadow: 0 0 10px #dce7e6;}